html, body, div, span, h1, h2, h3, h4, h5, p,
pre, header, nav, section, article, aside,
summary, main, footer {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

h1 {
    font-size: 36pt;
}
h2 {
    font-size: 24pt;
}
h3 {
    font-size: 18pt;
}
h4 {
    font-size: 16pt;
}
body {
    font-size: 14pt;
}

header h1 {
    padding: .3em;
}

main {
    padding: 1em;
}
section {
    padding-bottom: 1em;
}

section.update div {
    margin: 0.2em 0;
}
section h3 {
    margin: 0.5em 0;
}


body.main ul {
    list-style-type: none;
}
body.main ul li {
    padding: .2em;
}

body.collab ul.authors, body.collab ul.authors ul {
    list-style-type: none;
    padding: 0;
}
body.collab ul.authors li, body.collab ul.authors ul, body.collab ul.authors ul li {
    display: inline-block;
}
body.collab ul.comma li:not(:last-child):after {
    content: ',';
}
body.collab ol.thanks {
    list-style-type: lower-alpha;
}

body.collab .format_text {
    border: 1px solid black;
    padding: 0.5em;
    margin: 1em;
    display: inline-block;
}