{% extends raw.html %}

{% block title %}{{ title }} Authorlist - {{ date }}{% end %}

{% block bodyclass %}raw{% end %}

{% block content %}
    <section class="update">
        <h3>Retrieve archived author lists:</h3>
        <form method="post">
            <div>Query Date: <input type="text" name="date" value="{{ date }}" /></div>
            <input type="hidden" name="formatting" value="web" />
            <input type="submit" />
        </form>
    </section>
    <section>
        <h3>Author List - {{ formatting_options[formatting] if formatting in formatting_options else 'undefined' }}</h3>
        {% if intro_text %}
            <div class="intro_text">{{ intro_text }}</div>
        {% end %}
        {% if formatting == 'web' %}
            <div class="authors">{{ title }} Collaboration: {{ authors }}</div><hr>
            <ol class="institutions">
            {% for name in sorted_insts %}
                <li>{{ insts[name]['cite'] }}</li>
            {% end %}
            </ol>
            <ol class="thanks">
            {% for name in sorted_thanks %}
                <li>{{ thanks[name] }}</li>
            {% end %}
            </ol><hr>
            <div class="acknowledgements">
                <h2>Acknowledgements</h2>
            {% for ack in acks %}
                {{ ack }}
            {% end %}
            </div>
        {% elif wrap %}
            <div class="format_text_wrapper">
                <div id="data" class="format_text">{{ format_text }}</div>
            </div>
        {% else %}
            <div class="format_text_wrapper">
                <pre id="data" class="format_text">{{ format_text }}</pre>
            </div>
        {% end %}
    </section>
{% end %}