{% extends main.html %}

{% block title %}{{ title }} Authorlist - {{ date }}{% end %}

{% block bodyclass %}collab{% end %}

{% block content %}
    <section class="update">
        <h3>Update selection:</h3>
        <form method="post">
            <div>New date: <input type="text" name="date" value="{{ date }}" /></div>
            <div>Format:
                <select name="formatting">
                {% for f in formatting_options %}
                    <option value="{{ f }}"{{ ' selected' if formatting == f else '' }}>{{ formatting_options[f] }}</option>
                {% end %}
                </select>
            </div>
            <input type="submit" />
        </form>
    </section>
    <section>
        <h3>Author List - {{ formatting_options[formatting] if formatting in formatting_options else 'undefined' }}</h3>
        {% if intro_text %}
            <div class="intro_text">{{ intro_text }}</div>
        {% end %}
        {% if formatting == 'web' %}
            <div class="authors">{{ authors }}</div>
            <ol class="institutions">
            {% for name in sorted_insts %}
                <li>{{ insts[name]['cite'] }}</li>
            {% end %}
            </ol>
            <ol class="thanks">
            {% for name in sorted_thanks %}
                <li>{{ thanks[name] }}</li>
            {% end %}
            </ol>
            <div class="acknowledgements">
                <h4>Acknowledgements</h4>
            {% for ack in acks %}
                {{ ack }}
            {% end %}
            </div>
        {% elif wrap %}
            <div class="format_text">{{ format_text }}</div>
        {% else %}
            <pre class="format_text">{{ format_text }}</pre>
        {% end %}
    </section>
{% end %}
