<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>{% block title %}Authorlist{% end %}</title>
        <meta name="description" content="IceCube neutrino experiment author lists">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/style.css" type="text/css" />
    </head>
    <body class="{% block bodyclass %}main{% end %}">
        <div id="container">
            <header>
                <a href="/"><img src="/static/icecube-logo.png" width="359" height="94" alt="IceCube - South Pole Neutrino Detector" /></a>
                <h1>{% block header_title %}IceCube Authors{% end %}</h1>
            </header>
            <main>
            {% block content %}
                <p class="subtitle">Browse the members of the IceCube, IceCube/PINGU and IceCube-Gen2 collaborations from foundation to date.</p>
                <h3>Collaborations:</h3>
                <ul>
                    {% for c in collabs %}
                        <li><a href="/{{ c }}">{{ collabs[c] }}</a></li>
                    {% end %}
                </ul>
                <h4 class="instructions">Instructions for updating the author list</h4>
                <p class="instructions">If you are not a PI:</p>
                <p class="instructions indent">Ask your PI to make the changes.</p>
                <p class="instructions">If you are a PI:</p>
                <p class="instructions indent">Email help@icecube.wisc.edu with any change request.
                Note that we also handle legacy authors and acknowledgements, with approval from ExecComm.</p>
            {% end %}
            </main>
        </div>
        {% block bodyscripts %}{% end %}
    </body>
</html>